html {
    height: 100%
}

body{
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1464606203954-507eec7f5e52?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=749b4e864ae8703317efd7770ad02ff9&auto=format&fit=crop&w=2330&q=80);
    color: white;
    font-family: 'Josefin Slab', serif;
    background-position: center;
    background-attachment: fixed;
}

.mainh1{
    display: flex;
}

h1{
    font-weight: 900;
    width: 250px;
    height: 36px;
    font-size: 40px;
    padding-top: 20px;
}

.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    
    

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-weight: 800;
    font-size: 20px;
    background-color:#d3d3d3b8; 
    border: 1px solid black;
}

img {
    width: 20%;
    height: 20%;
    margin: Auto;
    padding: 0;
    background-color: #d3d3d3b8;
    border-radius: 100px;
    border: 1px solid black;
}


 @media only screen and (min-width: 768px){
    
  .container{
      margin-top: 4%;
  }

  img{
      width: 15%;
  }
}